{% extends "main/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../deps/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../deps/css/my_css.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../deps/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../deps/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../deps/favicon/favicon-16x16.png">
    <link rel="manifest" href="../deps/favicon/site.webmanifest">
    <title>{{ product.name }}</title>
</head>

{% block content %}
    <section>
        <!-- Контент -->
        <div class="container">
            <div class="row mt-1">
                <div class="col-lg-2">
                    <!-- Пустой блок на усмотрение -->
                </div>
                <div class="col-lg-10 p-3">
                    <!-- Контент на странице -->
                    <div class="row text-bg-light">
                        
                       <!-- Миниатюры -->
                    <div class="col-md-4">
                        <img src="{{ product.image.url }}"
                            class="img-thumbnail" data-bs-toggle="modal" data-bs-target="#imageModal1">
                    </div>
                    <div class="col-md-4">
                        <p class="product_id mt-3">id: {{ product.display_id }}</p>
                    </div>
                    <!-- Увеличить изображение в модальном окне -->
                    <div class="modal fade" id="imageModal1" tabindex="-1"
                        aria-labelledby="imageModal1Label" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="imageModal1Label">{{ product.name }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Закрыть"></button>
                                </div>
                                <div class="modal-body">
                                    <img src="{{ product.image.url }}"
                                        class="img-fluid" alt="Изображение 1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Описание товара -->
                <div class="card-body text-bg-light p-2">
                    <p class="card-text">Цена: <strong>{{ product.price }} $</strong></p>
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <a href="#" class="btn btn-dark add-to-cart">Добавить в корзину</a>
                </div>
            </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock content %}
